{{ ansible_managed | comment }}

ALERTMANAGER_URL={{ ambot_alertmanager_url }}
LISTEN_ADDR={{ ambot_listen_addr }}
TELEGRAM_TOKEN={{ ambot_telegram_token }}
STORE={{ ambot_store }}
BOLT_PATH={{ ambot_bolt_path }}
TEMPLATE_PATHS={{ ambot_template_path }}
